body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    
}

.navbar {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 20px;
}

.navlink-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.nav-link-element {
    background-color: #1F2931;
}

.about-container {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
}

.about-header-text {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.below-header-text {
    font-size: 18px;
    color: white;

}

.about-text {
    max-width: 500px;
    margin-left: 1rem;
}

.about-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sign-up-button {
    background-color: #3882F6;
    border: 0px;
    font-size: 18px;
    color:  #E5E7EB;
    border-radius: 4px;
}

.social-media-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.social-logo {
    height: 100px;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    gap: 40px;
   
}

.logos-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.logo-text {
    display: flex;
    justify-content: center;
}

.motivation {
    background-color:  #E5E7EB;
    margin-top: 1rem;
}

.italic-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.author {
    font-weight: 700;
    align-self: flex-end;
}


.quote-wrapper {
    margin: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contact-section {
    flex-grow: 1;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.contact-box {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 80px;
}

.border-button {
    border: 2px solid white;
}

.text-box > .text {
    font-size: 18px;
    font-weight: 800;
    
}

.text-box {
    flex-shrink: 1;
    min-width: 100px;
}

